
.container {
    min-width: 100%;
    /* margin: 2em 2em; */
    padding: 2em 5em;
}
.greenButton {
    color: #fff;
    background-color: #18ea19;
    border-color: #18ea19;
    /* font-size: 150%; */
}

.card {
    background-color:rgba(0,0,0,0);
    border: none;

}

header {
    color:#fff;
    /* font-size: 250%; */

    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("../assets/presentation.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 1rem;
}

.headerSection {
    padding-left: 5em;
}

.nav-link {
    color: rgba(255, 255, 255, 1) !important;
}

.headerCard {
    margin-top: 11rem;
    margin-bottom: 4rem;
    width: 100%;
}

.headerNavBar {
    text-align:end;
}

/* success rate CSS section */

.successRateSection h1 {
    color: #18ea19;
}

/* discoverProgramSection */

.discoverProgramSection {
    background-color: #18ea19;
    margin-left: 0%;
    margin-right: 0%;
}

.discoverProgramSection h1 {
    text-align: center;
    color: #fff;
}

.card-body {
    padding: 0.25rem;
}



/* inTheMedia section */

.inTheMedia {
    background-color: lightgray;
}

.inTheMedia .row {
    margin: 2em auto;
}