
.container {
    min-width: 100%;
    /* margin: 2em 2em; */
    padding: 2em 5em;
}
.greenButton {
    color: #fff;
    background-color: #18ea19;
    border-color: #18ea19;
    /* font-size: 150%; */
}

.greenButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.homeTagheader {
    border-bottom: 2px solid #fff;
}

.card {
    background-color:rgba(0,0,0,0);
    border: none;

}

header {
    color:#fff;
    /* font-size: 250%; */

    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("../assets/presentation.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 1rem;
}

.burgerMenu {
    display:none;
    float:right;
    font-size: xx-large;
    color: #fff;
    /* margin-right: 2em !important;
    padding-right: 3em !important; */
}








.headerSection {
    padding-left: 1em;
}

.nav-link {
    color: rgba(255, 255, 255, 1) !important;
}

.headerCard {
    margin-top: 11rem;
    margin-bottom: 4rem;
    width: 100%;
}

.headerNavBar {
    text-align:end;
}

/* success rate CSS section */

.successRateSection h1 {
    color: #18ea19;
}

/* discoverProgramSection */

.discoverProgramSection {
    background-color: #18ea19;
    margin-left: 0%;
    margin-right: 0%;
}

.discoverProgramSection h1 {
    text-align: center;
    color: #fff;
}

.card-body {
    padding: 0.25rem;
}



/* inTheMedia section */

.inTheMedia {
    background-color: lightgray;
}

.inTheMedia .row {
    margin: 2em auto;
}

.startegicPartner .row {
    margin-bottom: 2em;
}

/* .startegicPartnerPic {
    min-width:180px !important;
} */

.img-fluid {
    min-width:180px !important;
}

/* subscribeSection */
.subscribeSection {
    background-color: lightgray;
}

.subscribeSection .btn{
    margin-top: 2em;
    background-color: black;
    font-weight:600;
    border: none;
    padding:0.7em 2em;
    color: gainsboro;
}

/* footer */

.footer {
    background-color: black;
    color: #fff;
}

.iconsContainer {
    margin:0 !important;
    padding: 0;
    

}

.iconsContainer i {
    font-size: 130%;
    color: #fff;
}

/* hide the nav bar on 1000px screens and less */
@media screen and (max-width: 1000px){
    .headerNavBar {
        display: none;
    }
    .burgerMenu {
        display:contents;
    }

}

@media screen and (max-width: 500px){
    .burgerMenuCol{
        max-width: none;
    }
}

@media screen and (max-width: 500px){
    .burgerMenuCol{
        max-width: none;
    }
}

/* @media screen and (max-width: 370px){
    * {
        font-size:7vw !important;
    }
} */